{% extends 'layout/base.html' %}

{% block page_title %}Kích hoạt tài khoản{% endblock %}

{% block content %}
<div class="auth-page wider">
    <div class="pt-card pt-elevation-4 page-card">
        <h1 class="card-header pt-intent-danger">Kích hoạt tài khoản</h1>

        <div class="card-body">
            <div class="pt-callout pt-intent-danger">
                <h5>Đã có lỗi xảy ra khi kích hoạt tài khoản của bạn.</h5>
                Xin vui lòng kiểm tra lại email và thử lại; hoặc liên hệ với quản trị hệ thống.
            </div>
        </div>

        <div class="card-footer">
            <p class="text-center">Trở về <a href="/">Trang chủ</a></p>
        </div>
    </div>
</div>
{% endblock %}