{% extends 'layout/base.html' %}

{% block page_title %}Kích hoạt thành công{% endblock %}

{% block content %}
<div class="auth-page wider">
    <div class="pt-card pt-elevation-4 page-card">
        <h1 class="card-header pt-intent-success">Kích hoạt tài khoản thành công</h1>

        <div class="card-body">
            <p>Tài khoản của bạn đã được kích hoạt thành công. Giờ bạn có thể <a href="/login/">đăng nhập</a> và bắt đầu sử dụng hệ thống.</p>
        </div>
    </div>
</div>
{% endblock %}