{% extends 'layout/base.html' %}

{% load widget_tweaks %}

{% block page_title %}Khôi phục mật khẩu{% endblock %}

{% block content %}
<div class="auth-page wider">
    <div class="pt-card pt-elevation-4 page-card">
        <h1 class="card-header">Khôi phục mật khẩu</h1>

        <div class="card-body">
            <form method="POST" action="/password_reset/">
                {% csrf_token %}
                <label class="pt-label">
                    Xin mời nhập email của bạn. Hướng dẫn cách khôi phục mật khẩu sẽ được gửi đến email của bạn. 
                </label>               
                {% if form.non_field_errors %}
                    <div class="pt-callout pt-intent-danger">
                        <h5>Lỗi</h5>
                        {{ form.non_field_errors }}
                    </div>
                {% endif %} 
                {% for field in form %}            
                    <div class="pt-input-group pt-large">
                        <span class="pt-icon pt-icon-{{ field.help_text }}"></span>
                        {{ field }}
                    </div>
                {% endfor %}
                <button class="pt-button pt-intent-success pt-fill pt-large" type="submit">Lấy lại mật khẩu</button>
            </form>
        </div>

        <div class="card-footer">
            <p class="text-center">Trở về <a href="/">Trang chủ</a></p>
        </div>
    </div>
</div>
{% endblock %}