{% extends 'layout/base.html' %}

{% load widget_tweaks %}

{% block page_title %}Khôi phục mật khẩu{% endblock %}

{% block content %}
<div class="auth-page wider">
    <div class="pt-card pt-elevation-4 page-card">
        <h1 class="card-header">Khôi phục mật khẩu</h1>

        <div class="card-body">
            <p>Hướng dẫn khôi phục mật khẩu đã được gửi tới email của bạn. Xin vui lòng kiểm tra email!</p>
        </div>

        <div class="card-footer">
            <p class="text-center">Trở về <a href="/">Trang chủ</a></p>
        </div>
    </div>
</div>
{% endblock %}