{% extends 'layout/base.html' %}

{% block page_title %}Tạo tài khoản thành công{% endblock %}

{% block content %}
<div class="auth-page wider">
    <div class="pt-card pt-elevation-4 page-card">
        <h1 class="card-header">Tạo tài khoản thành công</h1>

        <div class="card-body">
            <p>Tài khoản của bạn đã được tạo thành công. Chúng tôi đã gửi hướng dẫn kích hoạt tài khoản đến email của bạn. Xin vui lòng kiểm tra email và làm theo hướng dẫn.</p>
        </div>

        <div class="card-footer">
            <p class="text-center">Trở về <a href="/">Trang chủ</a></p>
        </div>
    </div>
</div>
{% endblock %}